{% extends 'base/base.html' %} {% load static %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/media/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{object.title}}</h1>
                    <h2 class="subheading">{{object.subhead}}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{object.created_by}}</a>
                        {{object.publish_date}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

{% if user.is_authenticated %}
<div class='card my-5 py-4 text-center'>
    <div class='card-body'>
        <a href='{% url "blog:post_list"%}' class="btn btn-primary"> Back to list </a>
        <a href='{% url "blog:post_update" object.slug %}'class="btn btn-primary"> Update </a>
        <a href='{% url "blog:post_delete" object.slug %}'class="btn btn-danger"> Delete </a>
    </div>
</div>
{% endif %}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ object.body | linebreaks}}
                <p>
                    More information
                    <a href="https://docs.python.org/3/">Python Documentation</a>
                    &middot; and
                    <a href="https://docs.djangoproject.com/en/4.0/">Django Documentation</a>
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock  %}